<main class="w-100 h-100" *transloco="let t">
  <app-search-toolbar [searchForm]="searchForm"></app-search-toolbar>

  <div class="container">
    <app-card class="mt-2">
      <div *ngIf="omdbData$ | async as omdbData" content>
        <div class="row">
          <div
            class="col-md-12 col-lg-4"
            *ngFor="let movie of omdbData?.Search">
            <app-movie-card
              [movie]="movie"
              (clickCard)="getMovieData(movie.imdbID)"></app-movie-card>
          </div>
        </div>

        <mat-paginator
          footer
          class="w-100 bg-transparent"
          (page)="handleChangePage($event)"
          *ngIf="omdbData.totalResults"
          [length]="omdbData.totalResults | stringToNumber"
          [showFirstLastButtons]="true"
          [hidePageSize]="true"
          [pageSize]="10"
          [pageIndex]="searchForm.controls.page.value">
        </mat-paginator>
      </div>
    </app-card>
  </div>
</main>
