<main class="w-100 h-100" *transloco="let t">
  <app-search-toolbar [searchForm]="searchForm"></app-search-toolbar>
</main>

<div *ngIf="omdbData$ | async as omdbData">
  <p
    *ngFor="let movie of omdbData?.Search"
    (click)="getMovieData(movie.imdbID)">
    {{ movie.Title }}
  </p>

  <mat-paginator
    (page)="handleChangePage($event)"
    class="demo-paginator"
    *ngIf="omdbData.totalResults"
    [length]="omdbData.totalResults | stringToNumber"
    [showFirstLastButtons]="true"
    [hidePageSize]="true"
    [pageIndex]="searchForm.controls.page.value"
    aria-label="Select page">
  </mat-paginator>
</div>
