<div class="container" *transloco="let t">
  <app-card [title]="t('app-name') | titlecase">
    <div class="row" content>
      <form [formGroup]="searchForm" (input)="onChange()" class="row col-10">
        <div class="col-md-12 col-lg-8">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>
              {{ t('home-page.search-form.fields.search') | capitalize }}
            </mat-label>
            <input matInput formControlName="searchedText" />
          </mat-form-field>
        </div>
        <div class="col-md-12 col-lg-2">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>
              {{
                t('home-page.search-form.fields.year') | capitalize
              }}</mat-label
            >
            <input matInput type="number" min="0" formControlName="year" />
          </mat-form-field>
        </div>
        <div class="col-md-12 col-lg-2">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>
              {{
                t('home-page.search-form.fields.type.title') | capitalize
              }}</mat-label
            >
            <mat-select formControlName="type" (selectionChange)="onChange()">
              <mat-option value="">{{
                t('home-page.search-form.fields.type.options.none') | capitalize
              }}</mat-option>
              <mat-option
                *ngFor="let option of typeOptions"
                [value]="option.value"
                >{{ option.name | capitalize }}</mat-option
              >
            </mat-select>
          </mat-form-field>
        </div>
      </form>

      <div class="col-2">
        <app-lang-select></app-lang-select>
      </div>
    </div>
  </app-card>
</div>
